.main {
  max-width: 700px;
  margin-top: 30px;
  padding: 30px;
  color: #6e8097;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

#current-head-city {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

li {
  list-style: none;
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-list {
  font-size: 12px;
  padding-left: 20px;
}
.current-temp {
  display: block;
  margin: 0 auto;
  font-size: 30px;
  color: #5f6368;
}

.day-emoji {
  font-size: 20px;
}

.days {
  padding: 3px;
  text-align: center;
}
p {
  color: #96a3c5;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}
#code-link {
  color: #86cc4a;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}
#head-emoji {
  width: 60px;
}
#celsius {
  position: relative;
  bottom: 12px;
  color: #6e8097;
  font-size: 12px;
}

#celsius:hover {
  text-decoration: none;
  color: #5f6368;
}
#slash {
  position: relative;
  bottom: 12px;
  font-size: 14px;
}
#farenheit {
  position: relative;
  bottom: 12px;
  color: #6e8097;
  font-size: 12px;
}

#farenheit:hover {
  text-decoration: none;
  color: #5f6368;
}
.uppdated {
  font-size: 18px;
}

#current-button {
  margin-top: 20px;
  margin-left: 40px;
  background-color: #86cc4a;
  padding: 5px;
  border: solid #86cc4a;
  color: #fff;
  border-radius: 6px;
}
#current-button:hover {
  border: solid #6e8097;
  transition: all 200ms ease;
}
.Search-button {
  background-color: #e635a2;
  border: solid #fac0e5;
  color: #fff;
  border-radius: 6px;
  padding: 7px, 7px;
}

#search-input {
  margin-left: 40px;
  width: 250px;
  border: solid #e635a2;
  border-radius: 6px;
  opacity: 0.5;
}
.weekday {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.icon {
  max-width: 50px;
  padding: 5px;
}
.days {
  margin-left: 30px;
  margin-right: -60px;
  background-color: #f7d5ea;
}
